<div class="general">
    <app-navbar-company></app-navbar-company>
    <div class="sous-general">
        <div class="title">
        <app-title-clear-blue></app-title-clear-blue>
            <div class label>
                <p>Nom</p>
                <p>Poste</p>
                <p>Date</p>
                <p>Statut</p>
                <p>CV</p>
            </div>   
            <div class="selection">
                <app-selection-card></app-selection-card>     
                <app-selection-card></app-selection-card>     
                <app-selection-card></app-selection-card>     
            </div>
        </div>
    </div>
</div>